
    <p class="part">第五关：HTTP 基础</p>
    <table class="index-table">
      <tbody>
        <tr class="chapter-wrap">
           <td class="chapter-index">第 1 节</td>
           <td class="chapter-title">
             <a href="#">HTTP 简介</a>
           </td>
         </tr>
         <tr class="chapter-wrap">
            <td class="chapter-index">第 2 节</td>
            <td class="chapter-title">
              <a href="#">用 GET 传参数到服务器</a>
            </td>
          </tr>
          <tr class="chapter-wrap">
             <td class="chapter-index">第 3 节</td>
             <td class="chapter-title">
               <a href="#">用 POST 传复杂数据到服务器（ form 篇）</a>
             </td>
           </tr>
           <tr class="chapter-wrap">
              <td class="chapter-index">第 4 节</td>
              <td class="chapter-title">
                <a href="#">用 POST 传复杂数据到服务器（ axios 篇）</a>
              </td>
            </tr>
            <tr class="chapter-wrap">
               <td class="chapter-index">第 5 节</td>
               <td class="chapter-title">
                 <a href="#">梳理前台向后台传数据的三种形式</a>
               </td>
             </tr>
      </tbody>
    </table>
