<p class="part">第二关：JS/ES6 和面向对象编程</p>
<!-- 只用图形化工具，瞄准 github 淡化 git -->
<table class="index-table">
  <tbody>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 1 节</td>
     <td class="chapter-title">
       <a href="#">代码的世界</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 2 节</td>
     <td class="chapter-title">
       <a href="#">使用 Babel 编译 ES6</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 3 节</td>
     <td class="chapter-title">
       <a href="#">变量和函数</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 4 节</td>
     <td class="chapter-title">
       <a href="#">什么是面向对象？</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 5 节</td>
     <td class="chapter-title">
       <a href="#">第一个自己的 Class</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 6 节</td>
     <td class="chapter-title">
       <a href="#">父与子</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 7 节</td>
     <td class="chapter-title">
       <a href="#">理解 this 指向</a>
     </td>
    </tr>
    <tr class="chapter-wrap">
     <td class="chapter-index">第 8 节</td>
     <td class="chapter-title">
       <a href="#">异步操作和 Promise</a>
     </td>
    </tr>
  </tbody>
</table>
