<p class="part">第三关：React 前端框架</p>
<!-- 命令行操作，更多 git 本身技巧 -->
<table class="index-table">
  <tbody>
    <tr class="chapter-wrap">
       <td class="chapter-index">第 1 节</td>
       <td class="chapter-title">
         <a href="react/1-router-spa.html">你好，SPA</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
        <td class="chapter-index">第 2 节</td>
        <td class="chapter-title">
          <a href="react/2-router-react.html">基本 Webpack React 项目搭建</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
         <td class="chapter-index">第 3 节</td>
         <td class="chapter-title">
           <a href="react/3-router-hello.html">写一个 react-router 的 Hello World</a>
         </td>
       </tr>
     <tr class="chapter-wrap">
        <td class="chapter-index">第 4 节</td>
        <td class="chapter-title">
          <a href="react/4-router-server.html">修改 server 配置</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
         <td class="chapter-index">第 5 节</td>
         <td class="chapter-title">
           <a href="react/5-router-refactor.html">模块化拆分</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
          <td class="chapter-index">第 6 节</td>
          <td class="chapter-title">
            <a href="#">路由嵌套</a>
          </td>
        </tr>
        <tr class="chapter-wrap">
           <td class="chapter-index">第 7 节</td>
           <td class="chapter-title">
             <a href="#">React 部分项目训练</a>
           </td>
         </tr>
  </tbody>
</table>
