<p class="part">第七关：Redux 专题</p>
<table class="index-table">
  <tbody>
    <tr class="chapter-wrap">
       <td class="chapter-index">第 1 节</td>
       <td class="chapter-title">
         <a href="./redux/1-hello.html">Hello Redux</a>
       </td>
     </tr>
  </tbody>
  <tbody>
    <tr class="chapter-wrap">
       <td class="chapter-index">第 2 节</td>
       <td class="chapter-title">
         <a href="./redux/2-env.html">搭建基本 React-Webpack 环境</a>
       </td>
     </tr>
  </tbody>
  <tbody>
    <tr class="chapter-wrap">
       <td class="chapter-index">第 3 节</td>
       <td class="chapter-title">
         <a href="./redux/3-state.html">内部 state 使用</a>
       </td>
     </tr>
  </tbody>
  <tbody>
    <tr class="chapter-wrap">
       <td class="chapter-index">第 4 节</td>
       <td class="chapter-title">
         <a href="./redux/4-store.html">Redux Store 数据大本营</a>
       </td>
     </tr>
     <tr class="chapter-wrap">
        <td class="chapter-index">第 5 节</td>
        <td class="chapter-title">
          <a href="./redux/5-rerender.html">React 充电：组件何时会被再次 render</a>
        </td>
      </tr>
      <tr class="chapter-wrap">
         <td class="chapter-index">第 6 节</td>
         <td class="chapter-title">
           <a href="./redux/6-connect.html">connect 动态读取 store 数据</a>
         </td>
       </tr>
       <tr class="chapter-wrap">
          <td class="chapter-index">第 7 节</td>
          <td class="chapter-title">
            <a href="./redux/7-two.html">处理两类数据</a>
          </td>
        </tr>
  </tbody>
</table>
